.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.checked, .price span {
    color: #ff9f1a; }


/*side bar*/

  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 1px 0 10px 0;
    background: #273c75;
    border-radius: 10px;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #f7f1e3;
    font-size: 16px;
    font-size: 23px;
    font-weight: 500;
    font-family: -webkit-body;
    font-weight: 600;
    margin-bottom: 7px;
    /* border-radius: 53px; */
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f1cfd245;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #d2dae2;
    font-size: 16px;
    font-family: -webkit-body;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #e7e7e7;
    min-height: 460px;
    width: 97%;
    margin-left: 14px;
  }

  .profile-usertitle.inputsearch li
  {
    background-color: #e7e7e7;
  }
  .profile-usertitle.inputsearch ul li input:focus
  {
    color: #e52f3c;
  }
  .profile-usertitle.inputsearch .btn-custom
  {
    background-color: #273c75;
    padding: 9px;
    border-radius: 12px;
  }
  .profile-usertitle.inputsearch .btn-custom:hover
  {
    background-color: #e52f3c;
  }

  .breadcrumb
  {
    background-color: #273c75 !important;
  }
  .breadcrumb a
  {
    color:#d2dae2;
  }
  .breadcrumb a:hover
  {
    color:#e52f3c;
  }


@media (max-width:991px) {
  .breadcrumb {
    margin-top: 26px;
  } 
}
.price{
   color:#4a7dcc;
}
.test
{
  background-color: #e8e8e8;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 14px;
  color: #1f386e;
  font-weight: 600;
  font-size: 13px;
  padding: 5px;
  display: block;
  width: 100%;
  text-align: center;
}