header.headerProfile {
    background-image: url('../website/user_image/hero-banner.jpg');
    background-color: #1f386e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
  }
  header.headerProfile i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
    color: #fff;
  }
  
  @media (max-width:800px) {
    header.headerProfile {
      height: 150px;
    } 
    
    header.headerProfile i {
      right: -90%;
    }
  }
  
  main {
        padding: 20px 20px 0px 20px;
  }
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .photo {
    width: 193px !important;
    height: 195px !important;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #aaaaaa8a;
  }
  
  .active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: calc(50% - 70px);
    top: 75px;
    background-color: #e52f3c;
    border: 3px solid #fff;
  }
  
  @media (max-width:990px) {
    .active {
      right: calc(50% - 60px);
      top: 50px;
    } 
  }
  
  .name {
    margin-top: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18pt;
    color: #777;
  }
  
  .info {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #aaa;
  }
  
  .stats {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .number-stat {
    padding: 0px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
  }
  
  .desc-stat {
    margin-top: -15px;
    font-size: 10pt;
    color: #bbb;
  }
  
  .desc {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    font-family: "Open Sans";
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
  }
  
  .social {
    margin: 5px 0 12px 0;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
  }
  
  .social i {
    cursor: pointer;
    margin: 0 15px;
  }
  
  .social i:nth-child(1)  { color: #4267b2; }
  .social i:nth-child(2)  { color: #1da1f2; }
  .social i:nth-child(3)  { color: #0274b3; }
  
  .right {
    padding: 0 25px 0 25px !important;
  }

  .dass {
    display: inline-flex;
  }
  
  .dass li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
  }
  
  .dass li:hover,.lane  { 
    color: #999;
    border-bottom: 2px solid #999;
  }
  
  .follow {
    position: absolute;
    right: 8%;
    top: 35px;
    font-size: 11pt;
    background-color: #e52f3c;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .follow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
  }
  
  @media (max-width:990px) {
    .dass {
      display: none;
    }
    
    .follow {
      width: 50%;
      margin-left: 25%;
      display: block;
      position: unset;
      text-align: center;
    }
  }
  .gallery  {
    margin-top: 35px;
  }
  
  .gallery div {
    margin-bottom: 30px;
  }
  
  .gallery img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    width: auto; 
    height: auto;
    cursor: pointer;
    max-width: 100%;
  }

.tow,.three{display: none;}

.photo-left {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    width: 100%;
    height: 194px;
    border-radius: 100px;
    border: 4px solid #fff;
    position: absolute;
    top: -119px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #1f386e;
  }
  
  .photo-left:hover .overlay {
    opacity: 0.35;
    cursor: pointer;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .inputImage{
    width: 175px;
    height: 169px;
    border-radius: 100px;
    border: 4px solid #fff;
    position: absolute;
    top: -47px;
    bottom: 0;
    left: -53px;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #1f386e;
    cursor: pointer;
  }
  .fa-camera:before {
    content: "\f030";
    padding: 40px;
    padding-bottom: 52px;
  }
  
  #login .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #777;
    background-color: #e7e7e7;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 36px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  #login .form-control:focus{
    color:#e52f3c;
  }
  #login {
    padding: 23px 26px 60px 24px;
    background: #1f386e;
    color: rgba(255,255,255,.65);
    border-radius: 35px;
    margin-left: 35px;
}
#login .btn-custom:hover {
  color: #fff;
  background: #e52f3c;
}
#login .btn-custom:hover {
  border: 2px solid #e52f3c;
}
.mainskin{
  color:#1f386e;
}
.secondskin{
  color:#e52f3c;
}
.empty
{
  padding-left:12px;font-size:20px;
}
@media (max-width:990px) {
  .empty{
    text-align: center;
    padding:0;
  }
}